table {
              font-family: arial, sans-serif;
              border-collapse: collapse;
              width: 100%;
            }
            
            td, th {
              border: 1px solid #dddddd;
              text-align: left;
              padding: 8px;
	      font-size: small;
            }
            
            tr:nth-child(even) {
              background-color: #dddddd;
            }

            .searchBtnDiv{
                padding-top: 30px;
            }
            .regLink {
                padding-left: 60%;
            }
			#dateDiv{
				padding-top: 2%;
			}
			.searchBtn{
				  width: 50%;
				  background-color: #4CAF50; /* Green */
				  border: none;
				  color: white;
				  padding: 15px 32px;
				  text-align: center;
				  text-decoration: none;
				  display: inline-block;
				  font-size: 16px;
				  
			}
			.searchBtn:active{
				   background-color:red;
				}
			select {
				width:100%
			}
			.column {
	            padding: 5px;
            }
			
			@media only screen and (min-width: 600px) {
            /* Three image containers (use 25% for four, and 50% for two, etc) */
            .column {
            float: left;
            width: 15%;
            padding: 5px;
            }

            /* Clear floats after image containers */
            .row::after {
            content: "";
            clear: both;
            display: table;
            }
            .regLink {
                padding-left: 90%;
            }
			.searchBtn{
				  width: 10%;
				  background-color: #4CAF50; /* Green */
				  border: none;
				  color: white;
				  padding: 10px 30px;
				  text-align: center;
				  text-decoration: none;
				  display: inline-block;
				  font-size: 16px;
			}
			}
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 50px;
  height: 50px;
  margin: -76px 0 0 -76px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}			
